.hero-btn{
    display: flex;
    padding: 5px;
    margin-right: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    align-items: center;
    justify-content: flex-start;
    width: 190px;
}

.about__item{
    margin-top: 4px;
}

.navbar-btn{
 background: transparent;
 color: var(--dark-color);
 border: none;
}

.navbar-btn:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-search{
    width: auto;
}

.btn-find{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-3xl);
    height: 40px;
    width: 40px;
    border: none;
}

.btn-glass{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.btn-user{
    background-color: rgb(249, 226, 226);
    color: rgb(211, 53, 53);
}

.btn-phone{
    background-color: rgb(237, 245, 226);
    color: rgb(22, 146, 22);
}