#footer{
    min-height: 45vh;
    position: relative;
    top: 100px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    -webkit-box-shadow: 1rem 1rem 4rem 1rem var(--secondary-color);
    transform: translateY(-2rem);   
}

.footer-wrapper{
    padding: 0px 20px;
    display: grid;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 30px;
    resize: horizontal;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 0px;
}

.footer-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.ul-footer-grid li{
    margin-top: 15px;
    color: gray;
    font-size: var(--font-size-md);
}

.first{
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
}

.second{
    display: grid;
    align-items: center;
    justify-content: space-around;
    resize: horizontal;
    grid-template-columns: repeat(auto-fill ,minmax(10rem,1fr));
    grid-gap: 20px;
    margin-left: 20px;
}

.third{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third h3{
    margin-bottom: 20px;
}

.send{
    background-color: var(--primary-color);
    height: 5rem;
    width: 5rem;
    position: relative;
    left: -5rem;
    border-radius: var(--border-radius-md);
}

.input{
    background-color: black;
    border-radius: var(--border-radius-md);
    width: 30rem;
    height: 5rem;
}

.footer-grid-input{
    display: flex;
    border-color: var(--secondary-color);
    flex-direction: row;
    border-radius: var(--border-radius-md);

}

.ul-footer-grid{
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.footer-grid p{
    display: flex;
    text-align: start;
    font-size: var(--font-size-lg);
    color: gray;
}

.footer-logo img{
    display: flex;
    size: 4px;
    position: relative;
}

.btn-navbar img{
    height: 15px;
    width: 15px;
}

.ul-footer-grid li:hover{
    color: var(--accent-color);
}