.header-wrapper{
    padding: 30px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--light-color);
}

.navbar-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo{
  color: var(--dark-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}

.navbar-logo img{
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.nav-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-top: 0.5rem;
}

.nav-link {
  margin: 2rem;
}

.nav-link:hover{
  font-size: var(--font-size-2xl);
}
.bar {
  display: none;
}

@media (max-width: 800px) {
  .bar {
    display: block;
  }
  .nav-lists {
    display: none;
  }
}
