.subscribe{
    display: flex;
    justify-content: center;
    margin-left: 270px;
}

.subscribe__wrapper{
    color: var(--light-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius-md);
    width: 700px;
    height: auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

.subscribe__wrapper h2{
    margin-bottom: 20px;
}

.input-subscribe{
    border-radius: var(--border-radius-sm);
    background-color: var(--light-color);
    padding: 10px;
    width: 350px;
    height: 50px;
    margin-left: 100px;
    border: none;
}
